@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

/* Base styles */
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
} 

/* Parallax sections */
.parallax1 {
  @apply bg-[url('/img/construction.jpg')] min-h-[400px] h-[800px] bg-center bg-no-repeat bg-cover flex justify-center align-middle md:bg-fixed;
}

.parallax2 {
  @apply bg-[url('/img/office.jpg')] h-[1100px] md:bg-left-top bg-center bg-no-repeat bg-cover flex justify-center overflow-hidden md:bg-fixed;
} 

.parallax3 {
  @apply bg-[url('/img/nice.jpg')] h-[800px] md:bg-left-top bg-center bg-no-repeat bg-cover flex justify-center overflow-hidden  md:bg-fixed;
} 

/* Content sections */
 .content1 {
  @apply bg-[url('/img/awards.jpg')] h-[1300px] bg-center bg-no-repeat bg-cover flex justify-center overflow-hidden;
} 

.content2 {
  @apply bg-[url('/img/signing.jpg')] h-[1300px] bg-center bg-no-repeat bg-cover flex justify-center items-center overflow-hidden;
} 

/* Overlay */
 .p-overlay1 {
    @apply fixed w-full h-full top-0 left-0 z-10 bg-black/30;  
   
  
} 

/* Icon button utility */
.icon-btn {
  @apply w-9 h-9 flex items-center justify-center rounded-full border border-white hover:bg-white hover:text-black transition duration-300 cursor-pointer;
} 







/* Base styles */
/* html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

} */


/* Parallax sections */
 /* .parallax1 {
  @apply bg-[url('/img/construction.jpg')] h-screen bg-center bg-no-repeat bg-cover flex justify-center items-center relative md:bg-fixed;
}

.parallax2 {
  @apply bg-[url('/img/office.jpg')] min-h-[1300px] bg-center bg-cover bg-no-repeat flex justify-center items-center relative md:bg-fixed;
}

.parallax3 {
  @apply bg-[url('/img/nice.jpg')] min-h-[750px] bg-center bg-no-repeat bg-cover flex justify-center items-center relative md:bg-fixed;
}  */

/* Content sections */
/* .content1 {
  @apply bg-[url('/img/awards.jpg')] min-h-[1200px] bg-center bg-no-repeat bg-cover flex justify-center items-center relative;
}

.content2 {
  @apply bg-[url('/img/signing.jpg')] min-h-[1200px] bg-center bg-no-repeat bg-cover flex justify-center items-center relative;
}  */

/* Overlay */
/* .p-overlay1 {
  @apply absolute inset-0 z-10 bg-black/30;
} */

/* Icon button utility */
/* .icon-btn {
  @apply w-9 h-9 flex items-center justify-center rounded-full border border-white hover:bg-white hover:text-black transition duration-300 cursor-pointer;
}
 */

